# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse specific files
bin
.settings
.classpath
.project

# Ignore IntelliJ IDEA specific files
.idea/

# password
password.txt

# sub-folder "trusted" in resources containig derived data
trusted
